[submodule "blatt01/Aufgabe-git/gitquest"]
	path = blatt01/Aufgabe-git/gitquest
	url = https://github.com/nibbu2822/gitquest.git
[submodule "blatt02/Katzen-Cafe/catcafe_b02"]
	path = blatt02/Katzen-Cafe/catcafe_b02
	url = https://github.com/nibbu2822/catcafe_b02.git
