[submodule "blatt01/Aufgabe-git/gitquest"]
	path = blatt01/Aufgabe-git/gitquest
	url = https://github.com/nibbu2822/gitquest.git
[submodule "blatt02/Git-Spiel/gitquest2"]
	path = blatt02/Git-Spiel/gitquest2
	url = https://github.com/nibbu2822/gitquest-b02.git
